.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 100px auto 0px;
}

.score {
    text-align: center;
    margin-top: 100px;
    background-color: #f4f4f4;
    border: 2px solid black;
    height: 200px;
    line-height: 200px;
    border-radius: 100%;
    width: 200px;
    font-size: 40px;
    margin: 10px;
}